{% load static %}

<link rel="stylesheet" href="{% static 'creatures/style.css' %}">

{% if creature_list %}
  {% for creature in creature_list %}
    <div>
      <table>
        <tr>
          <td><a href="/creatures/{{ creature.id }}/">{{ creature.name }}</a></td>
          <td>{{ creature.radar| safe }}</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Hitpoints: {{ creature.hit_points }}</li>
              <li>Hitdice: {{ creature.hit_dice }}</li>
              <li>AC: {{ creature.armor_class }}</li>
              <li>Speed: {{ creature.speed }}</li>
            </ul>
          </td>
          <td>{{ creature.description }}</td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
  {% endfor %}
{% else %}
  <p>No creatures are available.</p>
{% endif %}
